@{
    ViewData["Title"] = "BitDownload";
}

<div class="text-center">
    <h1 class="display-4">BitDownload Web Client</h1>
    <p>Learn about <a href="https://www.correoargentino.com.ar">Cliente Web BitDownloader</a>.</p>
</div>
